@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-1{
   width: 25%;
   padding: 0 15px;
}
.footer-1 h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-1 h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-1 ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-1 ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-1 ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-1 .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-1{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-1{
    width: 100%;
}
}


.content-1{
  background-color: #24262b;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 10rem auto 0 auto;
}

.content-1 img{
  height: 50vh;
}

.content-1 h1{
  margin: 0;
}

.content-1 p{
  margin-right: 15px;
}